# Ambiente Virtual
/venv/

# Arquivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de Dados Local
db.sqlite3
/postgres_data/

# Arquivos de Configuração Sensível
.env

authentication/migrations/
authentication/__pycache__/
routes/migrations/
routes/__pycache__/
# Anotações
notas.txt
1000325571.jpg
WhatsApp Image 2025-05-03 at 20.20.33.jpeg
