   .footer {
    position: initial;
    width: 100%;
    background-color: #ff6b00; /* Cor de fundo semelhante ao Header */
    color: white; /* Texto branco para contraste */
    display: flex;
    justify-content: center;
    padding: 1px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
  }